/* sample css */ 
body {
  display: flex; 
  flex-direction: row;
}

ul {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-right: 10px;
  padding: 0;
  text-align: center; 
  width: calc(15%);
}

li { 
  align-items: center;
  display: inline-flex;
  justify-content: center;
}

li:not(:first-child) {
  border: 1px solid blue; 
  height:150px; align-items:center;
}
